body {
  margin: 0;
}

#jumpMenu {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    background: lightgray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 20px;
    background-color: red;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

nav button {
    margin: 5px 0;
    padding: 20px;
    width: 23%;
    font-size: 16px;
    background-color: violet;
    border: 1px solid yellow;
    cursor: pointer;
}

main {
    margin-left: 220px;
    margin-top: 210px;
}

#thanks{
    position: sticky;
    bottom: 8px;
    right: 16px;
    float: right;
    font-size: 20px;
    background-color: lightblue;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 300px;
    margin: 10px;
}
