body {
  margin: 0;
}

#jumpMenu {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    background: lightgray;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px); 
    text-align: center;
    background: white;
}

main {
    margin-left: 200px;
    padding-top: 100px;  
    padding: 20px;
}

#thanks{
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-size: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 300px;
    margin: 10px;
}